<!doctype html>
<html>
  <head>
    <title>FFR Stats: Key Item Percentages by Dungeon</title>
    <link rel='stylesheet' href='normalize.css'>
    <style>
    main { padding: 1rem 2rem; }
    h1:first-child { margin-top: 0; }
    #charts { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
    #charts > * { flex-basis: 30%; }
    #charts table { width: 100%; }
    #charts table tr:nth-child(odd) {
      background: rgba(200, 200, 200, 0.25);
    }
    td { padding: 0.25rem 0.1rem; }
    </style>
  </head>
  <body>
    <main>
      <article>
        <h1>
          FFR Stats: Key Item Percentages by Dungeon
        </h1>

        <h2>Randomizer Settings</h2>
        <dl>
          <dt>Version</dt>
          <dd><%= release %></dd>

          <dt>Flags</dt>
          <dd><%= flags %></dd>

          <dt>Sample Size</dt>
          <dd><%= sample_size %></dd>
        </dl>

        <h2>Item Location Breakdown</h2>

        <ul id='bookmarks'>
          <% items_by_dungeon.keys.sort.each do |dungeon| %>
            <li>
              <a href="#<%= dungeon.gsub(' ', '-').gsub("'", '') %>">
                <%= dungeon %>
              </a>
            </li>
          <% end %>
        </ul>


        <section id='charts'>
          <% Hash[items_by_dungeon.sort_by(&:first)].each do |dungeon, items| %>
            <div id="<%= dungeon.gsub(' ', '-').gsub("'", '') %>">
              <h3><%= dungeon %></h3>

              <table>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Times Found</th>
                    <th>Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <% items.each do |item| %>
                  <tr>
                    <td><%= item[:item] %></td>
                    <td><%= item[:number_of_times_found] %></td>
                    <td><%= item[:percentage] %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </section>
      </article>
    </main>
  </body>
</html>
